---
layout: layout.hbs
chapters:
  - learning outcomes
  - planning for the future
  - projected financial statements (why)
  - projected financial statements (how)
  - sales forecast
  - preparing projected statements
  - projected cashflow statement
  - projected income statement
  - projected balance sheet (statement of financial position)
  - per-cent-of-sales method
  - longer term cash flow projections
  - decisions based on projected financial statements 
  - accounting for risk
  - planning and debt vs equity (gearing)
  - financial gearing
---

<main>
  <h1>
    financial planning
  </h1>
  <ol>
    {{#each chapters}}
      <li>{{proper this}}</li>
    {{/each}}
  </ol>
</main>